<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/assets/img/logo.png" alt="">
        
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/mfg-paint/">Mfg. Paint</a></li>
          <li><a href="/rust-protection/">Rust Protection</a></li>
          <li><a href="/dealer/">Dealer</a></li>
          
          
          
           <li class="dropdown"><a href="/paint-application/"><span>Paint Application</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              
              <li><a href="/application-details/">Application Details</a></li>
              <li><a href="/coating-selection/">Coating Selection</a></li>
              <li class="dropdown"><a href="/we-can-offer/"><span>We Can Offer</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul class="scrollable-submenu">
                    <li><a href="/anti-corrosive-coatings/">Anti-Corrosive Coatings</a></li>
                    <li><a href="/industrial-flooring/">Industrial Flooring</a></li>
                    <li><a href="/hygienic-food-grade-coating/">Hygienic Food Grade Coating</a></li>
                    <li><a href="/heat-resistant-coating/">Heat Resistant Coating</a></li>
                    <li><a href="/blasting/">Blasting</a></li>
                    <li><a href="/zinc-aluminum-spray/">Zinc / Aluminum Spray Application</a></li>
                    <li><a href="/tile-grouting/">Tile Grouting</a></li>
                    <li><a href="/bituminous/">Bituminous</a></li>
                    <li><a href="/fertilizer-plants/">Fertilizer Plants</a></li>
                    <li><a href="/rust-sealer-coatings/">Rust Sealer Coatings</a></li>
                  </ul>
              </li>
            </ul>
          </li>
        <li><a href="/gallery/">Gallery</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/contact/">Contact</a>

    </div>
  </header>
