<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">{{ title }}</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>

        {% if parents %}
          {% for parent in parents %}
            <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
          {% endfor %}
        {% endif %}

        <li class="current">{{ title }}</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->


<style>

/* Current page title highlight */
.page-title h1,
.breadcrumbs li.current {
  color: #31a1bf;
  font-weight: 700;
  text-shadow: 0 0 6px rgba(49, 161, 191, 0.6);

}
</style>
