<!-- PDF Modal -->
<div class="modal" id="pdfModal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 id="pdfTitle">PDF Viewer</h3>
      <span class="close-btn" onclick="closePDF()">&times;</span>
    </div>
    <iframe id="pdfViewer" src=""></iframe>
  </div>
</div>
