<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=9825008956&text=Hi,%20I%20contacted%20you%20through%20your%20website" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</div>