---
layout: layout.njk
title: Anti-Corrosive Coatings
parents:
  - title: Paint Application
    url: /paint-application/
  - title: We Can Offer
    url: /we-can-offer/
---

{% include "page-title.njk" %}

<!-- Anti Corrosive Coating  Section -->
<div class="section-add">
  <div class="container section-title" data-aos="fade-up">
    <span>Protective Coating Solutions</span>
    <h2>Anti-Corrosive Coatings</h2>
    <p>Explore various coating solutions for industrial and corrosive environments.</p>
  </div>
  <section id="services" class="services section">
    <div class="container">
     {% for section in anti-corrosive.sections %}
    <div class="content mb-5">
      <h4 class="label-text">
        <span class="number">{{ section.id }}.</span>
        {{ section.title }}
      </h4>

      {% if section.applications %}
      <ul class="mb-4">
        {% for item in section.applications %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% for galleryGroup in section.gallery %} {% if galleryGroup.items and
      galleryGroup.items.length > 0 %} {% if galleryGroup.items.length > 2 %} {% assign colClass =
      "4" %} {% else %} {% assign colClass = "6" %} {% endif %}

      <div class="row gy-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
        {% for image in galleryGroup.items %}
        <div class="col-md-{{ colClass }} col-sm-6 portfolio-item">
          <a
            href="{{ image.img }}"
            class="glightbox"
            data-gallery="{{ galleryGroup.group }}"
            title="{{ image.title }}"
          >
            <img src="{{ image.img }}" class="img-fluid coating-img" alt="{{ image.title }}" />
          </a>
          <h6 class="mt-2 fw-bold text-muted">{{ image.title }}</h6>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endfor %} {% if section.base or section.type %}
      <p class="fw-semibold text-muted mb-5">
        {% if section.base %}
        <strong>Base:</strong>
        {{ section.base }}
        <br />
        {% endif %} {% if section.type %}
        <strong>Type:</strong>
        {{ section.type }}{% endif %}
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
    </div>
  </section>
  <div class="container all-content section-title-add" data-aos="fade-up"></div>
</div>
<!-- End Anti Corrosive Coating  Section -->
